SUPABASE_PROJECT_ID="odnmbwgtsjcpecfrjfsv"
SUPABASE_PUBLISHABLE_KEY="sb_publishable_5PhVfjW1rOpuE-dc52VQvg_iHmtoXKi"
SUPABASE_URL="https://odnmbwgtsjcpecfrjfsv.supabase.co"
VITE_SUPABASE_PROJECT_ID="odnmbwgtsjcpecfrjfsv"
VITE_SUPABASE_PUBLISHABLE_KEY="sb_publishable_5PhVfjW1rOpuE-dc52VQvg_iHmtoXKi"
VITE_SUPABASE_URL="https://odnmbwgtsjcpecfrjfsv.supabase.co"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9kbm1id2d0c2pjcGVjZnJqZnN2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NTE4ODUyMSwiZXhwIjoyMTAwNzY0NTIxfQ.2VrhAyLPUW66n-N_dTfn7T2PXQJgiTuudqkGNJuCi9w"